/* bevel.css */

.bevel-transparent {
	background: #c00; /* fallback */
    	background:
        	-webkit-linear-gradient(45deg,  transparent 10px, #666 10px),
	        -webkit-linear-gradient(135deg, transparent 10px, #666 10px),
        	-webkit-linear-gradient(225deg, transparent 10px, #666 10px),
	        -webkit-linear-gradient(315deg, transparent 10px, #666 10px);
    	


	background:
	        	-moz-linear-gradient(45deg,  rgba(114, 78, 78, 0) 16px, #FAFAF5 0px),
		-moz-linear-gradient(135deg, rgba(114, 78, 78, 0) 16px, #FAFAF5 0px),
        		-moz-linear-gradient(225deg, rgba(114, 78, 78, 0) 16px, #FAFAF5 0px),
		-moz-linear-gradient(315deg, rgba(114, 78, 78, 0) 16px, #FAFAF5 0px);



    	background:
        	-o-linear-gradient(45deg,  transparent 10px, #666 10px),
	        -o-linear-gradient(135deg, transparent 10px, #666 10px),
        	-o-linear-gradient(225deg, transparent 10px, #666 10px),
	        -o-linear-gradient(315deg, transparent 10px, #666 10px);
    	background:
        	-ms-linear-gradient(45deg,  transparent 10px, #666 10px),
	        -ms-linear-gradient(135deg, transparent 10px, #666 10px),
        	-ms-linear-gradient(225deg, transparent 10px, #666 10px),
	        -ms-linear-gradient(315deg, transparent 10px, #666 10px);
	background-position: bottom left, bottom right, top right, top left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

.bevel-transparent-img
{
	background: url(./upload/profile/taka_thumb.jpg); /* fallback */
	background-size: contain;  	

	background:
        	-webkit-linear-gradient(315deg,  rgba(114, 78, 78, 0) 16px, #FAFAF5 0px);

	background:
	-moz-linear-gradient(315deg,  rgba(114, 78, 78, 0) 16px, #FAFAF5 0px);

    	background:
        	-o-linear-gradient(315deg,  rgba(114, 78, 78, 0) 16px, #FAFAF5 0px);

    	background:
        	-ms-linear-gradient(315deg,  rgba(114, 78, 78, 0) 16px, #FAFAF5 0px);
}

.bevel-red
{
	background-color	: rgba(114, 78, 78, 1);
	width		: 100px;
	height		: 30px;
	transform   	: rotate(45deg);
	position		: absolute;
	top		: 0px;
	botttom		: auto;
	right		: 0px;
	left		: auto;
}

.bevel-blue
{
	background-color	: #4E5E72;
	width		: 100px;
	height		: 30px;
	transform   	: rotate(45deg);
	position		: absolute;
	top		: 0px;
	botttom		: auto;
	right		: 0px;
	left		: auto;
}
