/* styles.css */
body
{
	width		: 100%;
	height		: 100%;
	margin		: 0px auto;
	background	: #FAFAF5;
}

input, textarea
{
	font-family	: "Roboto", sans-selif;
	font-size	: 15px;
	color 		: #6B6B6B;
	padding		: 8px;
	outline-color : #5AAD64;
	border-width : 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


input
{
	border-radius : 3px;
}

.backcolor-lightgray
{
	background-color : rgba(242, 242, 242, 1);	
}

.backcolor-gray
{
	background-color: #545454;
}

.main
{
	position	: relative;
	margin		: 1% 10%;
}

.profile-card-d
{
	position	: relative;
	margin	: 2% 0px;
	background-color : #FFF;
	border-radius	: 3px;
	overflow	: hidden;
	width	: 100%;
	padding	: 4%;
	box-sizing: border-box;
	display	: inline-block;
	font-family	: "Roboto", sans-selif;
	font-size	: 13px;
}

.main-profile-left
{
	float : left;
}

.main-profile-right
{
	float : right;
}

.container
{
	display		: block;
	padding		: 2%;
}

.fieldname
{
	float: left;
	width: 80px;
}

.margin-left-2p
{
	margin-left	: 2%;
}

.clearfix:after
{
	content		: "";
	display		: block;
	height		: 0;
	clear		:both;
	visibility	:hidden
}

.clearfix
{
	display	: inline-table;
	width	: 100%; /*custom*/
}

.clear-and-right
{
	clear	: both;
	float	: right;
}
	 
.info
{
	background : lightgreen;
	color      : blue;
	padding    : 5px 10px;
	margin-left: 40px;
}

.subhead
{
    font-weight:bold;
}

.taken, .error
{
    color:red;
}

.available
{
    color:green;
}

.whisper
{
	font-style:italic;
	color     :#006600;
}

.h-centered
{
	margin: 0px auto;
	width: 0px;
}

.v-centered
{
	position	: absolute;
	top	: 0;
	left	: 0;
	right	: 0;
	bottom	: 0;
	margin	: auto 0%;
	width	: 100%;
	height	: 10%;
}

.hidden-text
{
	display	: none;
}

.clickable
{
	cursor : pointer;
}

.balloon-like
{
	background-color: #E9E8E7;
	color: #727272;
	padding: 5px 15px;
	border: 0px;
	border-radius: 5px;
}

.common-d
{
	position	: relative;
	margin	: 0px 20%;
}

.break-word
{
	word-wrap: break-word;
}

.pre-wrap
{
	white-space: pre-wrap;
}

#current-page
{
	font-family	: 'Dancing Script', cursive;
	font-size	: 20pt;
}

.font-frontpage
{
	font-family	: "Roboto", sans-selif;
	font-size : 20px;
}

.button-submit-default
{
	color: #FFF;
    border-width: 0px;
    border-radius: 5px;
    padding: 8px 13px;
    font-size: 10pt;
    margin-top : 10px;
}

.button-green
{
    background-color: #BAD2BD;
}

#button-signup-su
{
	background-color : #E6C9C9;
}

.input-text-margintop
{
	margin-top : 5px;
}