#upload-trimmed-d
{
	background-color : #8D8D8D;
	color : rgb(71, 71, 71);
	width : 100px;
	height : 100px;
	border-radius : 200px;
	margin : 50px;
	text-align : center;
	display : table;
}

#upload-trimmed-d:hover
{
	background-color : #A58383;
}

#upload-trimmed-i
{
	display : table-cell;
	vertical-align : middle;
	font-size : 40px;
}