/* discover.css */

#discovery-common-d
{
	position	: relative;
	margin	: 0px 20%;
}

#discover-content-d
{
	position	: relative;
	width		: 100%;
}

#discover-tab-d
{
	text-align 	: center;
	margin		: 5% 0px 3%;
}

#discover-tab-type-ta,
#discover-tab-order-ta
{
	display		: inline-block;
	border-radius	: 5px;
	padding		: 5px 10px;
}

.discover-tab-th
{
	padding		: 8px 13px;
	font-size	: 10pt;
	font-family	: "Roboto", sans-selif;
	color		: #B0ADAD;
	border		: 1px solid transparent;
	border-radius	: 5px;
}

.discover-tab-th:hover
{
	border	: 1px solid rgba(227, 227, 227, 0.48);
	cursor	: pointer;
}

.tab-default
{
	color		: #FFF;
//	background-color	: #B78C8C;
	background-color	: #BAD2BD;
}
