/* friends.css */

.friends-thumbs-im
{
	width	: 75px;
	height	: 75px;
}

.friends-thumbs-a
{
	position		:relative;
	margin-right : 5px;
}

.friends-thumbs-last-a
{
	position		:relative;
}
