/* header.css */

*
{
/*	border     : 1px solid pink; */
}

html
{
	width		: 100%;
	height		: auto;
	background	: #FAFAF5;
	color		: #6B6B6B;
	font-family	: "Roboto", sans-selif;
}

<!--
body
{
	width		: 100%;
	height		: 100%;
	margin		: 0px auto;
	background	: #FAFAF5;
}
-->

a
{
	text-decoration : none;
}

/*
a:active
{
	color :rgba(114, 78, 78, 1);
}

a:hover
{
	color :rgba(114, 78, 78, 1);
}
*/
a:active
{
	color :#4E5E72;
}

a:hover
{
	color :#4E5E72;
}


.header
{
	position		:relative;
/*	background	:-moz-linear-gradient(center top , #F3EEE1, #EAE4D8 62%); */
	padding		:4px;
	overflow		:hidden;
	z-index		:3;
	font-family: 'Dancing Script', cursive;
	font-size	: 16px;
}

.abs-div-centered
{
	position		: absolute;
	margin		: 0px auto;
	left		: 0px;
	right		: 0px;
}

.menu_left, .menu_right
{
	color		:rgba(107, 107, 107, 1);
	padding  	: 0 16px;
}

.menu_left
{
	float:	left;
}

.menu_right
{
    float:	right;
}

#modal-back-white-d
{
	z-index		:4;
	display		:none;
	position		:fixed;
	top		:0;
	left		:0;
	width		:100%;
	height		:120%;
	background-color	:rgba(250, 250, 245, 0.88);
}

#logo
{
	position		: relative;
	color		: rgba(107, 107, 107, 1);
	font-family	: helvetica;
	font-family	: 'Dancing Script', cursive;
	float		: left;
	padding		: 0px 16px;
}

#upload
{
	cursor	: pointer;
}


#default-header
{
	font-family	: 'Dancing Script', cursive;
	font-size	: 16px;
	width		: 200px;
	text-align	: center;
}

#hidden-header
{
	position	: relative;
	display	: none;
}

#body-wrapper
{
	position	: absolute;
	background	: url("../image/top/background.jpg") no-repeat right top;
	background-size	: contain;
	width		: 100%;
	height		: 100%;
	background-color : #FDFDFD;
}

#header-transparent
{
	background	:rgba(0, 0, 0, 0);
}

#upload-pic-f
{
	margin-bottom : 0px;
}

#upload-pic-d
{
	width	: 320px;
	height	: 240px;
	border	: dashed 2px;
	text-align : center;
	display : table;
}

#upload-pic-su
{
	float : right;
	background-color : #E4B0BC;
}

#upload-icon-s
{
	display : table-cell;
	vertical-align : middle;
	font-size : 60px;
}

#upload-detail-t
{
	display : block;
	margin-top : 10px;
}

#upload-image-in
{
	display : none;
}

#modal-upload-d
{
	position		: fixed;
	background	: #fff;
	display		: none;
	z-index		: 5;
	overflow		: hidden;
	background-color	: rgba(243, 239, 232, 0.99);
	border-radius	: 5px;
}
