#form-f
{
	font-size : 15px;
}

#introduce-yourself-s
{
	display		: inline-block;
	font-size	: 24px;
}

#upload-profile-pic-s
{
	font-size : 30px;
}

#init
{
	font-family	: "Roboto", sans-selif;
}

#init-thumb-im
{
	height : 120px;
	weight : 120PX;
}

#profile-pic-d
{
	overflow : hidden;
}

#profile-pic-f
{
	clear : left;
	margin-top : 2%;
}

#complete-in
{
	margin-top	: 20px;
	padding		: 8px 13px;
	float : right;
	color : white;
}

#h-wrap
{
	width : 40%;
}

#v-wrap
{
	height : 75%;
}

#edit-message-te
{
	width	: 500px;
	height	: 160px;
	margin-top		: 10px;
	margin-bottom	: 20px;
}

#message-width
{
	width : 533px;
}