/* masonry.css */

.ms-main
{
	position	: relative;
<!--	margin	: 1% 0%; -->
}

.ms-container
{
	display		: block;
/*
	box-shadow	: 0px 2px 5px rgba(0, 0, 0, 0.3);
*/
}

.ms-pic
{
	width	: 32%;
	float	: left;
	margin	: 0px;
	border-radius : 3px;
}

.ms-pic:hover
{
	cursor	: pointer;
}
