/* members */


.members-main
{
	position	: relative;
	margin		: 1% 0px;
}

.members-thumb-im
{
	width			: 100%;
	height 			: auto;
	border-radius	: 50%;
}

.members-follow-d, .members-unfollow-d, .members-confirm-d
{
	width			: 60px;
	height 			: 30px;
	border-radius	: 5px;
	color			: white !important;
	line-height	: 30px;
	text-align	: center;
	margin		: 0 auto;
	font-size : 12px;
}

.members-follow-d
{
	background-color : #BAD2BD;	
}

.members-unfollow-d
{
	background-color : #D0D0D0;	
}

.members-confirm-d
{
	background-color : #E4B0BC;
}

.members-name-d
{
	font-size	: 15px;
	font-family	: "Roboto", sans-selif;
	text-align 	: center;
	line-height	: 40px;
}

.members-td
{
}

#members-table-ta
{
	border-spacing	: 85px;
}