/* modal overlay for work full size */

#modal-pic-d
{
	z-index		: 5;
	position		: fixed;
	background	: #fff;
	display		: none;
	overflow		: hidden;
	background-color	: rgba(243, 239, 232, 0.99);
	border-radius	: 5px;
	font-size: 14px;
    font-family: "Roboto", sans-selif;
}

#modal-pic-left-d
{
	float : left;
}

#modal-pic-right-d
{
	float	: left;
	background-color	: rgba(243, 239, 232, 0.99);
}

#modal-pic-title
{
	font-size : 24px;
	margin	: 10% 10% 0% 10%;
	word-wrap: break-word;
	display : block;
}

#modal-pic-username
{
    margin: 0% 10% 0% 10%;
}

#modal-pic-userlink
{
    color : #D77B7B;
}

#modal-pic-num-s
{
	margin	: 0px 10px;
}

#modal-pic-description
{
	font-size :16px;
	margin	: 5% 10% 0% 10%;
	word-wrap: break-word;
	display : block;
}

#modal-pic-like-d
{
	line-height : 25px;
	margin : 5% 10% 0% 10%;
}

#modal-pic-like-i, #modal-pic-cancel-like-i
{
	cursor		: pointer;
	vertical-align	: middle;
	font-size : 17px;
}

#modal-pic-like-i
{
	color : #CACACA;
}

#modal-pic-cancel-like-i
{
	color : #CA3434;
}

#edit-intro
{
	display : inline-block;
	font-size : 40px;
	margin-top : 10%;
}

.edit-item-s
{
	display : inline-block;
	width : 10em;
	margin : 7% 10% 3% 10%;
}

#edit-title-in
{
	width : 80%;
	margin : 0 10%;
}

#edit-description-te
{
	width : 80%;
	height : 250px;
	margin : 0 10%;
}

#delete-in
{
	display : inline;
	margin: 7% 0 10% 10%;
    backface-visibility: hidden;
    font-family: "Roboto", sans-selif;
    font-size: 14px;
}

#submit-bu
{
	margin: 7% 10% 0 0;
    backface-visibility: hidden;
    font-family: "Roboto", sans-selif;
    font-size: 14px;
    float : right;
}

#delete-f
{
	display : inline;
}