#modal-friends-d
{
	z-index		: 5;
	position		: fixed;
	background	: #fff;
	display		: none;
	overflow		: hidden;
	background-color	: rgba(243, 239, 232, 0.99);
	border-radius	: 5px;
	font-size: 20px;
    font-family: "Roboto", sans-selif;
    padding	: 20px;
}

.modal-friends-name-d
{
	font-size	: 20px;
	font-family	: "Roboto", sans-selif;
	text-align 	: center;
	line-height	: 40px;
}

.modal-friends-td
{
}

#modal-friends-table-ta
{
	border-spacing	: 60px;
}

.modal-friends-thumbs-im
{
    width: 100px;
    height: 100px;
	height 			: auto;
	border-radius	: 50%;
}

.modal-friends-thumbs-a
{
	position	:relative;
	margin-right : 5px;
}

#modal-friends-table-ta
{
}

#modal-friends-title-s
{
	display: inline-block;
    font-size: 40px;
    margin: 60px 0px 0px 60px;
}

#modal-friends-nofriends-s
{
	display: inline-block;
    margin: 0px 60px 60px 60px;
}