#modal-profile-d
{
	position		: absolute;
	border-radius	: 5px;
	background	: #fff;
	display		: none;
	z-index		: 5;
	overflow		: hidden;
	background-color	: rgba(71, 71, 71, 1);
}

#modal-intro-d
{
	position		: absolute;
	border-radius	: 5px;
	background	: #fff;
	display		: none;
	z-index		: 5;
	overflow		: hidden;
	background-color	: rgba(71, 71, 71, 1);
	padding	: 5%;
	font-size	: 16px;
	font-family	: "Roboto", sans-selif;
	width		: 500px;
	height		: 70%;
}

#modal-profile-left-d
{
	float:left;
}

#modal-profile-right-d
{
	float:right;
}

#modal-back-black-d
{
	z-index		:4;
	display		:none;
	position		:fixed;
	top		:0;
	left		:0;
	width		:100%;
	height		:120%;
	background-color	:rgba(0,0,0,0.75);
}

#preview-im
{
	width    : 200px;
	height   : 200px;
}

#thumb-d
{
	width:		200px;
	height:		200px;
	overflow:	hidden;
}

#jcrop-target-im
{
	width		: auto;
	max-height	: 600px;
}