/* profile.css */

.ts-textbox-d
{
	width		: 100%;
}

.ts-fadein-d
{
	display		: none;
}

.ts-changed-text-d
{
	display		: none;
}

.ts-editar-t
{
	font-size	: 100%;
	height		: 100%;
}

.frame
{
/*
	width	: (X + X*1.62) px;
*/
	width	: 650px;
	height	: 150px;
	position	: relative;
}

.frame-left-top,
.frame-right-bottom
{
	position		: absolute;
	z-index		: 1;
	width		: 100px;
	height		: 30px;
	background	: 50px;
	background	: rgba(0, 0, 0, 0);
	transform   	: rotate(-45deg);
}

.frame-left-top
{
	box-shadow	: 0 10px 10px -10px rgba(0, 0, 0, 0.8);
	top		: 0px;
	botttom		: auto;
	right		: auto;
	left		: 0px;
}

.frame-right-bottom
{
	box-shadow	: 0 -10px 10px -10px rgba(0, 0, 0, 0.7);
	top		: auto;
	botttom		: 0px;
	right		: 0px;
	left		: auto;
}

.front
{
	position: relative;
}

#profile-common-d
{
	margin	: 0px 20%;
}

#profile-background-pic-d
{
	position		: relative;
	width		: auto;
	height		: 268px;
	background-color : #777777;
	background-size	: cover;
	background-position : center;
	padding		: 3%;
	margin-bottom	: 1%;
	border-bottom-right-radius : 3px;
	border-bottom-left-radius : 3px;
}

#profile-pic-and-name-d
{
	position	: absolute;
	width	: 500px;
	bottom	: 0px;
	margin-bottom : 3%;
	display	: table;
}

#profile-content-d
{
	position		: relative;
	width		: 100%;
	height		: 90%;
/*	border-radius:3px; */
}

#profile-pic-d
{
	position	: relative;
	width	: 90px;
	height	: 90px;
	display	: table-cell;
	vertical-align : bottom;
}

#profile-pic-im, #profile-pic-no-pointer-im
{
	position	: relative;
	width	: 100%;
	height	: 100%;
	border-radius	: 5px;
}

#profile-pic-im:hover
{
	cursor	: pointer;
}

#profile-background-pic-d:hover
{
	cursor	: pointer;
}

#profile-name-d
{
	display	: table-cell;
	vertical-align : bottom;
}

#user-name
{
	width		: 100%;
	font-size	: 33px;
	color		: white;
	margin-left	: 12px;
	line-height	: 35px;
}

#thumb-hover-d
{
	position		: absolute;
	width		: 100%;
	height		: 100%;
	background-color	: transparent;
}

#thumb-hover-d:hover
{
	background-color	: rgba(216, 69, 69, 0.37);
}

#profile-name-org-d
{
	position		: relative;
	width		: auto;
	height		: 100%;
	margin-left	: 150px;
}

#profile-name-org-inner-d
{
	text-align	: center;
}

#profile-pic-in, #cover-pic-in
{
	display	: none;
}

#profile-intro-d
{
	margin-bottom : 1%;
}

.profile-intro-common
{
	position	: relative;
	width	: 49%;
	box-sizing: border-box;
	display	: inline-block;
}

#profile-intro-left-d
{
	float:left;
}

#profile-intro-right-d
{
	float:right;
}

.card-title-d
{
	font-size: 17px;
	margin	: 0 0 3%;
}

.about-item-fixed
{
	color : rgba(180, 180, 180, 1);
}

.about-item-editable
{
	color : rgba(180, 180, 180, 1);
}

#info-about-d
{
}

#info-about-hidden-d
{
	display: none;
}

#intro-message-s
{
	display : inline-block;
	font-size : 24px;
	margin-bottom : 10px;
}

#intro-about-s
{
	display : inline-block;
	font-size : 24px;
	margin-bottom : 10px;
	margin-top : 20px;
}

.form-tab
{
	display : inline-block;
	width : 10em;
	margin-top: 10px;
}

#edit-message-te ::-webkit-input-placeholder {
    color:   red;
}
::-moz-placeholder {
    color:  red;
}

#user-not-found {
	overflow: hidden;
}

#user-not-found-im {
	width: 130%;
}