/* styles.css */

*
{
/*	border     : 1px solid pink; */
	font-family: 'Dancing Script', cursive;
	font-size  : 14pt;
}

html
{
	width		: 100%;
	height		: auto;
	background	: #fff;
}

body
{
	width		: 100%;
	height		: 100%;
	margin		: 0px auto;
	background	: #FAFAF5;
}

a
{
	text-decoration : none;
}

a:active
{
	color :rgba(114, 78, 78, 1);
}

a:hover
{
	color :rgba(114, 78, 78, 1);
}

#current-page
{
	font-family	: 'Dancing Script', cursive;
	font-size	: 20pt;
}
.header
{
	position		:relative;
	background	:-moz-linear-gradient(center top , #F3EEE1, #EAE4D8 62%);
	padding		:4px;
	overflow		:hidden;
	z-index		:3;
}

.main
{
	position	: relative;
	margin	: 2%;
}

.have-padding
{
	padding	: 2%;
}

.have-padding-4
{
	padding	: 4%;
}

.have-shadow
{

}

.fieldname
{
	float:left;
	width:80px;
}
	 
.info
{
	background :lightgreen;
	color      :blue;
	padding    :5px 10px;
	margin-left:40px;
}

.menu_left, .menu_right
{
	color	:rgba(107, 107, 107, 1);
	line-height	: 1.61;
	padding  : 0 16px 0 16px;
}

.menu_left
{
	float:	left;
}

.menu_right
{
    float:	right;
}


.subhead
{
    font-weight:bold;
}

.taken, .error
{
    color:red;
}

.available
{
    color:green;
}

.whisper
{
	font-style:italic;
	color     :#006600;
}

.h-centered
{
	margin: 0px auto;
}

.v-centered
{
	position	: absolute;
	top	: 0;
	left	: 0;
	right	: 0;
	bottom	: 0;
	margin	: auto 0%;
	width	: 100%;
	height	: 10%;
}

.transparent-100
{
	background	:rgba(0, 0, 0, 0);
}

.hidden-text
{
	display	: none;
}

#body-wrapper
{
	background	: url("../image/top/background.jpg") no-repeat right top;
	background-size	: contain;
	width		: 100%;
	height		: 100%;
}

#logo
{
	position		: relative;
	color		: rgba(107, 107, 107, 1);
	font-family	: helvetica;
	font-family	: 'Dancing Script', cursive;
	font-size  	: 20pt;
	float		: left;
}


#default-header
{
	font-family	: 'Dancing Script', cursive;
	color		: rgba(114, 78, 78, 1);
	font-size	: 20pt;
	width		: 200px;
}

.abs-div-centered
{
	position		: absolute;
	text-align	: center;
	left		: 0px;
	right		: 0px;
	margin		: 0px auto;
}

.abs-d-margin-centered
{
	position		: absolute;
	margin		: 0px auto;
	left		: 0px;
	right		: 0px;
}

#hidden-header
{
	position	: relative;
	display	: none;
}

