/* discover.css */


#timeline-common-d
{
	position	: relative;
	margin	: 0px 20%;
}

#timeline-content-d
{
position: relative;
width		: 100%;
	overflow	: hidden;
}

#timeline-tab-d
{
	text-align : center;
}
