<div id='body-wrapper'>
	<div id='header-transparent' class='header'>
		<span id='logo'>{$smarty.const.APPNAME}</span>
		<a href='signup.php' class='menu_left'>Sign up</a>
		<a href='login.php' class='menu_left'>Log in</a>
	</div>
</div>
<br/>