<div class='header'>
	<a href='about.html' class='menu_left'><span id='logo'>{$smarty.const.APPNAME}</span></a>
	<span id='upload' class='menu_right' onclick='showUploadModal()'>Upload</span>
	<div id='default-header' class='abs-div-centered'>Default</div>

	<div id='hidden-header'>
<!-- 		<a href='timeline.php?' class='menu_left'>Timeline</a> -->
		<a href='discover.php' class='menu_left'>Discover</a>
		<a href='members.php' class='menu_left'>Member</a>
	    <a href='profile.php?view={$user}' class='menu_right'>Profile</a>
	    <a href='logout.php' class='menu_right'>Log out</a>
	</div>
</div>

{include file='header/upload.tpl'}