<div class='main v-centered font-frontpage'>
	<h3 class='margin-left-2p'>Log In</h3>
	<form class='margin-left-2p' method='post' action='login.php'>{$error}
		<input type='text' class='backcolor-lightgray' maxlength='16' name='user' value='{$user}' placeholder='User Name'/><br />
		<input type='password' class='backcolor-lightgray input-text-margintop' maxlength='16' name='pass' value='{$pass}' placeholder='Password'/>
		<br />
		<input type='submit' class='button-submit-default button-green' value='Log In' />
	</form>
	<br />
</div>

<br /></body></html>