<html>
	<head></head>
	<body id='init'>
		<div id='v-wrap' class='v-centered'>
			<div id='h-wrap' class='h-centered'>
				<span id='upload-profile-pic-s'> 1. Choose Profile Pic!</span>
				<div id='profile-pic-d'>
					<br />
					<img id='init-thumb-im' src='{$thumb}' id='profile-pic-im' class='.bevel-transparent-img ' align='left' onclick='clickProfilePicIn()'/>
				</div>
				<form method='post' id='profile-pic-f' action='init.php' enctype='multipart/form-data'>
					<input type='file' id='profile-pic-in' class='input-file' name='image' size='14' maxlength='32'/>
					<input type='hidden' name='upload_profile_picture' />
					<input type="hidden" id="x" name="x"/>
					<input type="hidden" id="y" name="y"/>
					<input type="hidden" id="w" name="w"/>
					<input type="hidden" id="h" name="h"/>
				</form>
				<br />
				<span id='introduce-yourself-s'>2. Introduce Yourself!</span>
				<form id='form-f' method='post' action='profile.php' enctype='multipart/form-data'>
					<br />
<!-- 					<span class='form-f'>Birthday</span>	<input type='text' maxlength='16' name='birthday' required onBlur=''/><br>
 -->
					<span>Birthday: </span>
					<input type="date" name='birthday' required>
 					<input type='radio' name='gender' value='0' checked="checked"/>Male<input type='radio' name='gender' value='0'/>Female<br>
					<input type='text' class='input-text-margintop' placeholder='Work' maxlength='64' name='work' onBlur=''/>
					<input type='text' class='input-text-margintop' placeholder='College' maxlength='64' name='college' onBlur=''/><br>
					<input type='text' class='input-text-margintop' placeholder='Interest' maxlength='64' name='interest' onBlur=''/>
					<input type='text' class='input-text-margintop' placeholder='Contact' maxlength='64' name='contact' onBlur=''/><br>
					<textarea id='message-width' class='input-text-margintop' placeholder='Message' maxlength='512' name='message' onBlur=''></textarea><br>
					<input id='complete-in' class='button-submit-default button-green' type='submit' value='Complete' />
				</form>
			</div>
		</div>
		{include file='init/overlay-trim-profile-photo.tpl'}
	</body>
</html>