<div id='discover-tab-d'>
<!-- 
	<table id='discover-tab-type-ta'>
		<tr>
			<th class='discover-tab-th tab-default'>Picture</th>
			<th class='discover-tab-th'>Craft</th>
			<th class='discover-tab-th'>Movie</th>
		</tr>
	</table>
-->
	<table id='discover-tab-order-ta'>
		<tr>
			<th class='discover-tab-th tab-default' onclick='updateDiscoverByTime(this)'>New</th>
			<th class='discover-tab-th' onclick='updateDiscoverByLike(this)'>Popular</th>
		</tr>
	</table>
</div>