<div class='main v-centered font-frontpage'>
	<h3 class='margin-left-2p'>Sign Up</h3>
	<form class='margin-left-2p' method='post' action='signup.php'>{$error}
		<input type='text' class='backcolor-lightgray' maxlength='16' name='user' placeholder='User Name'
			value='{$user}' onBlur='checkUser(this)'/><span id='info'></span><br />
		<input type='text' class='backcolor-lightgray input-text-margintop' maxlength='16' name='pass' placeholder='Password'
    		value='{$pass}' /><br />
		<input type='submit' id='button-signup-su' class='button-submit-default' value='Sign Up' />
	</form>
</div>

<br /></body></html>